<?php include_once(VIEW_PATH.'/index/header.html'); ?>
<body>
    <div class="tbody">
        <div class="head">
            <div>
                <a href="http://www.josiny.com/">
                    <img src="./img/josiny-logo.jpg" width="150px" height="110px" class="fl head_1" />
                </a>
                <div class="fl lianjie">
                    <p class="lianjie_1">
                        <a href="https://josiny.tmall.com/?spm=a220o.1000855.1997427133.d4918061.FB3RSG">卓诗尼天猫官方旗舰店</a>
                    </p>
                    <p class="lianjie_2">淘宝集市店</p>
                </div>
                <div class="fl head_3">
                    <img src="./img/TM-logo.jpg" width="25px" height="25px" class="lianjie_3" />
                </div>
                <a href="https://josiny.tmall.com/?spm=a220o.1000855.1997427133.d4918061.FB3RSG">
                    <img src="./img/josiny-M1S1-img.jpg" width="500px" height="180px" class="fl head_2" />
                </a>
            </div>
        </div>
        <div class="fl matter">
            <div class="fl matter-1">
                <p class="matter_1">浙江大自然鞋业有限公司</p>
                <p>400 622 0577</p>
            </div>
            <div class="fl matter2">
                <a href="https://josiny.tmall.com/?spm=a220o.1000855.1997427133.d4918061.FB3RSG">
                    <p class="pingpai_1">进入店铺>></p>
                </a>
                <p class="matter_2">——她从不盲从奢华，欣赏时尚的态度
                    <br /> ————当美的季节来临，我又将化蛹成蝶——
                    <br /> ——要做美丽的自己，自由自在的生活——
                    <br /> 意大利佛罗伦萨的蒙黛洛庄园有一位叫做Josiny小姐，她是蒙黛洛爵士的掌上明珠，拥有清新优雅的美丽和一颗憧憬自由的心，而且她崇尚艺术，热衷创作，她创作的艺术品“高脚水晶鞋”收藏于意大利皇宫。 一次命运的邂逅，Josiny与一位外乡旅行者一见倾心。但是蒙黛洛爵士早已经应允了热那亚男爵的求婚，于是勇敢的Josiny选择在一个清晨与旅行者远走他乡，成为一个怀抱爱情和理想的人环游世界。 从此，Josiny成为意大利少女们追求自由和梦想的榜样和象征，她所设计的女鞋也在民间广受欢迎。一个被赋予Josiny名字的女鞋品牌，继承了Josiny的设计理想和奢华质感，将成为现代都市女性通往梦想自由的钥匙和桥梁。</p>
            </div>
        </div>
    </div>
    <hr class="contour" />
    <div class="bottom">
        <div class="bottom_1">COPYRIGHT ? 1998 – 2013 TENCENT. ALL RIGHTS RESERVED.</div>
        <div class="bottom_2">张娜&nbsp;&nbsp;&copy;版权所有</div>
    </div>
</body>
<?php include_once(VIEW_PATH.'/index/header.html'); ?>
