<?php include_once(VIEW_PATH.'/index/header.html'); ?>
 <body>
	<div class="homepage">首页</div>
    <div class="all_extension">&nbsp;各知名品牌推广，淘友最爱</div>
    <div class="height_lr">
        <div>
            <a href="/shop/index">
                <img src="./img/josiny-logo.jpg" width="150px" height="110px" class="fl logo_TG" />
            </a>
            <div class="fl content_TG">
                <a href="/shop/index">
                    <p class="zw1 ys1">卓诗尼</p>
                </a>
                <a href="/shop/index">
                    <p class="zw2 ys1">&nbsp;&nbsp;卓诗尼以“自由做自己”为品牌个性，承载 “让顾客、员工、伙伴共享精彩生活”的伟大使命，不断践行 “爱在卓诗尼”的价值观，铸就卓诗尼成为“快时尚领袖品牌”。卓诗尼女鞋专卖店是卓诗尼官网指定的官方旗舰店，专业提供卓诗尼女凉鞋，卓诗尼女鞋，卓诗尼女靴等最新卓诗尼信息。</p>
                </a>
            </div>
        </div>
        <div>
            <a href="SHASINIMAN.html">
                <img src="./img/SHASINIMAN-logo.png" width="150px" height="110px" class="fl logo_TG" />
                <div class="fl content_TG">
                    <p class="zw1 ys2">莎丝妮漫</p>
                    <p class="zw2 zw3">创建于2011年，来自中国</p>
                    <p class="zw2">&nbsp;&nbsp;品牌故事：莎丝妮漫-用心做好鞋</p>
                </div>
            </a>
        </div>
    </div>
    <hr class="contour" />
</body>
<?php include_once(VIEW_PATH.'/index/footer.html'); ?>
